.header { 
  margin: auto;
  font-weight: 401; 
}

.main {
  margin: 10px 0;
  padding: 20px 5px;
}

.styledCard3 {
  padding: 20px;
  color: white;
  background-size: cover;
  background-color: black;
  background-image: url('/styledCard3.avif');
}

.styledCard2 {
  padding: 20px;
  color: black;
  background-color: white;
  background-image: url('/styledCard2.avif');
}

.styledCard1 {
  padding: 20px;
  color: white;
  background-color: black;
  background-image: url('/styledCard1.avif');
}

.pagination {
  padding: 5px;
  border-radius: 5px;
  background: whitesmoke;
}

@media screen and (min-width: 768px) {
  .main {
    margin: auto;
    padding: 25px;
    max-width: 1200px; 
  }
}

.header {
  margin: auto;
  max-width: 1440px;
}

.footer {
  margin: 50px 0;
}
