.header { 
  font-weight: 401; 
}

.main {
  margin: 10px 0;
  padding: 20px 5px;
}

.styledCard3 {
  padding: 20px;
  color: white;
  background-size: cover;
  background-color: black;
  background-image: url('/styledCard3.avif');
}

.styledCard2 {
  padding: 20px;
  color: black;
  background-color: white;
  background-image: url('/styledCard2.avif');
}

.styledCard1 {
  padding: 20px;
  color: white;
  background-color: black;
  background-image: url('https://images.unsplash.com/photo-1578364249730-0c4ee16426fa?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzN8fGJhY2tncm91bmQlMjBwaWN0dXJlc3xlbnwwfHwwfHx8MA%3D%3D');
}

.pagination {
  padding: 5px;
  border-radius: 5px;
  background: whitesmoke;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 10px 50px;
  }
}

.footer {
  margin: 50px 0;
}