@import "~@creativebulma/bulma-divider";

*.Body {
  background-color: #282c30;
  background: #282c30;
  font-family: 'Roboto';
  color: 'white';
}

.is-BC {
  background-color: #282c30;
}

.hrDark {
  background-color: #606060;
  line-height: 20px;
  height: 1px
}

.RonMouse:hover {
  transition: duration(0.1);
  transform: scale(1.3);
}

.Avatar {
  border-radius: 50%;
  pointer-events: none;
  animation: Avatar 10s infinite linear;
}

@keyframes Avatar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.space-x {
  padding-right: 1em;
}

.space-up {
  margin-top: 2em;
}


.srs-font {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sp-fonts {
  font-family: monospace
}

.sps-fonts {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nom-fonts {
  font-family: 'Roboto';
  word-spacing: 0.2em;
}

.g-fonts {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 0.22em;
  font-weight: 400;
}

.has-text-ash {
  color: #999999;
}

.image-list {
  border-radius: 2%;
}