@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

body {
  margin: 0;
  clear: both;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 1279px) {
  html .html .Body nav .nav .navbar .container {
    background: #282c30;
  }
}

@media screen and (min-width: 1280px) {

  html .html .Body nav .nav .navbar .container {
    background: #282c30;
  }
}


@media only screen and (min-width: 1024px) {
  Body html .html nav .nav .navbar .container {
    background: #282c30;
    width: max-content;
    display: flex;
  }
}